<!DOCTYPE html>
<div id="booking">
	<h2>Booking</h2>
	<p>Unauthenticated routes for fetching, creating, cancelling and authorizing access go booking data.</p>

	<div class="mt-3">
		<h4 id="booking-fetch">Fetch a booking</h4>

		<div class="card">
		  <p class="card-header no-anchor"><span class="get">GET</span> /booking/?id=13&pin=1234</p>
		  <div class="card-body">
		  	<pre><code></code></pre>
		  </div>
		</div>

		<div class="card mt-2">
		  <p class="card-header no-anchor">Response</p>
		  <div class="card-body">
		  	<pre><code>{
    "id": 26,
    "email": "abc@abc.com",
    "property_id": 59,
    "first_name": "John",
    "last_name": "Doe",
    "guest_address": "Some address for legal reasons",
    "guest_city": "Reykjavík",
    "guest_country": "IS",
    "guest_phone_no": "+41234567891",
    "check_in": "2025-09-18T21:00:00.000Z",
    "check_out": "2025-09-19T21:00:00.000Z",
    "guests": 1,
    "booking_status_id": 2,
    "pin_code": "1878",
    "amount": "17000.00",
    "currency": "ISK",
    "host_email": "abc@abc.com",
    "booking_status": "confirmed"
}</code></pre>
		  </div>
		</div>
	</div>

	<hr />

	<div class="mt-3">
		<h4 id="booking-new">Create a new booking</h4>

		<div class="card">
		  <p class="card-header no-anchor"><span class="post">POST</span> /booking/new</p>
		  <div class="card-body">
		  	<pre><code>{
	"email": "abc@domain.com",
	"property_id": 1,
	"first_name": "John",
	"last_name": "Doe",
	"address": "Street, 10",
	"city": "London",
	"country": "UK",
	"phone_number": "+1234567890",
	"check_in": "2025-10-05",
	"check_out": "2025-10-07",
	"guests": 3
}</code></pre>
		  </div>
		</div>

		<div class="card mt-2">
		  <p class="card-header no-anchor">Response</p>
		  <div class="card-body">
		  	<pre><code>{
	"id": 10,
	"pin_code": 1234
}</code></pre>
		  </div>
		</div>
	</div>

	<hr />

	<div class="mt-3">
		<h4 id="booking-authorize">Authorize access to view booking</h4>

		<div class="card">
		  <p class="card-header no-anchor"><span class="post">POST</span> /booking/authorize</p>
		  <div class="card-body">
		  	<pre><code>{
	"confirmation_number": 13,
	"pin_code": 1234
		  	}</code></pre>
		  </div>
		</div>

		<div class="card mt-2">
		  <p class="card-header no-anchor">Response</p>
		  <div class="card-body">
		  	<pre><code>{
	"authorized": true
}</code></pre>
		  </div>
		</div>
	</div>

	<hr />

	<div class="mt-3">
		<h4 id="booking-cancel">Cancel a booking</h4>

		<div class="card">
			<p class="card-header no-anchor"><span class="post">POST</span> /booking/cancel</p>
			<div class="card-body">
				<pre><code>{
	"confirmation_number": 13,
	"pin_code": 1234
}</code></pre>
			</div>
		</div>

		<div class="card mt-2">
			<p class="card-header no-anchor">Response</p>
			<div class="card-body">
				<pre><code>{
	"message": "Successfully cancelled a booking."
}</code></pre>
			</div>
		</div>
	</div>
</div>
