<!DOCTYPE html>
<div id="misc">
	<h2>Miscellaneous</h2>
	<p>Unauthenticated routes for: exchange rate, geolocation and fetching avatar and user first name.</p>

	<div class="mt-3">
		<h4 id="misc-exchange">Fetch exchange rate given a target currency</h4>
		<p>Fetches data from https://api.freecurrencyapi.com if it was not found in a map for the current date. Data is stored in a map for fewer calls to external API.</p>

		<div class="card">
			<p class="card-header no-anchor"><span class="get">GET</span> /misc/exchange-rate?target=EUR</p>
			<div class="card-body">
				<pre><code>{
	"rate": 0.932
	"target": "EUR"
}</code></pre>
			</div>
		</div>

		<div class="card mt-2">
			<p class="card-header no-anchor">Response</p>
			<div class="card-body">
				<pre><code>{
	"userExists": true
}</code></pre>
			</div>
		</div>
	</div>

	<hr />

	<div class="mt-3">
		<h4 id="misc-user">Get user name and avatar</h4>
		<p>Fetches a user's first and last name and avatar given a user id. Used for reviews.</p>

		<div class="card">
			<p class="card-header no-anchor"><span class="get">GET</span> /misc/user/1</p>
			<div class="card-body"></div>
		</div>

		<div class="card mt-2">
			<p class="card-header no-anchor">Response</p>
			<div class="card-body">
				<pre><code>{
	"first_name": "John",
	"last_name": "Doe",
	"img_url": "fdecab64-1755611308465.jpg"
}</code></pre>
			</div>
		</div>
	</div>

	<hr />

	<div class="mt-3">
		<h4 id="misc-geo">Get geolocation from address</h4>
		<p>Fetches data from https://geocode.maps.co for a given address in format street+city+country (any can be omitted).</p>

		<div class="card">
			<p class="card-header no-anchor"><span class="get">GET</span> /misc/geo/Varmahlíð+Iceland</p>
			<div class="card-body"></div>
		</div>

		<div class="card mt-2">
			<p class="card-header no-anchor">Response</p>
			<div class="card-body">
				<pre><code>[
	{
		"place_id": 242396444,
		"licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
		"osm_type": "node",
		"osm_id": 244149690,
		"boundingbox": [
		  "65.5332363",
		  "65.5732363",
		  "-19.4674848",
		  "-19.4274848"
		],
		"lat": "65.5532363",
		"lon": "-19.4474848",
		"display_name": "Varmahlíð, Skagafjörður, Northwestern Region, 560, Iceland",
		"class": "place",
		"type": "village",
		"importance": 0.5006663592762519
		},
	...
]</code></pre>
			</div>
		</div>
	</div>
</div>
