<!DOCTYPE html>
<div id="types">
	<h2>Types</h2>
	<p>Unauthenticated routes ...</p>

	<div class="mt-3">
		<h4 id="types-...">...</h4>

		<div class="card">
		  <p class="card-header no-anchor"><span class="get">GET</span> /types/...</p>
		  <div class="card-body">
		  	<pre><code>{
	"email": "abc@domain.com"
}</code></pre>
		  </div>
		</div>

		<div class="card mt-2">
		  <p class="card-header no-anchor">Response</p>
		  <div class="card-body">
		  	<pre><code>{
	"userExists": true
}</code></pre>
		  </div>
		</div>
	</div>

	<hr />
</div>
