<!DOCTYPE html>
<li class="mb-1">
  <button class="btn btn-dark btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="true">
    User
  </button>
  <div class="collapse" id="user-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a href="#user-config" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch user account configurations</a>
      </li>
      <li>
        <a href="#user-bookings" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch all bookings for user</a>
      </li>
      <li>
        <a href="#user-wishlist-check" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Check if a property is wishlisted by user</a>
      </li>
      <li>
        <a href="#user-wishlist-toggle" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Toggle wishlist for property for user</a>
      </li>
      <li>
        <a href="#user-wishlist-all" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch wishlisted property for user</a>
      </li>
      <li>
        <a href="#user-authorize" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Authorize booking for user</a>
      </li>
      <li>
        <a href="#user-update" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Update user settings</a>
      </li>
      <li>
        <a href="#user-password" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Update user password</a>
      </li>
      <li>
        <a href="#user-delete" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Delete user account</a>
      </li>
    </ul>
  </div>
</li>