<!DOCTYPE html>
<li class="mb-1">
  <button class="btn btn-dark btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#host-collapse" aria-expanded="true">
    Host
  </button>
  <div class="collapse" id="host-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a href="#host-properties" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch all properties by host user</a>
      </li>
      <li>
        <a href="#host-property-new" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Create a new property</a>
      </li>
      <li>
        <a href="#host-property-update" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Update a property</a>
      </li>
      <li>
        <a href="#host-bookings-partitioned" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch all bookings for hosted properties</a>
      </li>
      <li>
        <a href="#host-bookings-calendar" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch bookings for property by id</a>
      </li>
      <li>
        <a href="#host-property-delete" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Delete a property</a>
      </li>
    </ul>
  </div>
</li>