<!DOCTYPE html>
<li class="mb-1">
  <button class="btn btn-dark btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#property-collapse" aria-expanded="false">
    Property
  </button>
  <div class="collapse" id="property-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a href="#property-home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch properties for landing page</a>
      </li>
      <li>
        <a href="#property-id" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch property by id</a>
      </li>
      <li>
        <a href="#property-booked" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch booked dates for year and month given property id</a>
      </li>
      <li>
        <a href="#property-availability" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Check availability of a property given check-in and check-out</a>
      </li>
      <li>
        <a href="#property-reviews" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch all reviews for property with id</a>
      </li>
      <li>
        <a href="#property-query" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch all properties that match criteria</a>
      </li>
    </ul>
  </div>
</li>