<!DOCTYPE html>
<li class="mb-1">
  <button class="btn btn-dark btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#property-collapse" aria-expanded="false">
    Properties
  </button>
  <div class="collapse" id="property-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a href="#properties-home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch for landing page</a>
      </li>
      <li>
        <a href="#properties-home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Get by id</a>
      </li>
      <li>
        <a href="#properties-home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Get booked dates</a>
      </li>
      <li>
        <a href="#properties-home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Check availability</a>
      </li>
      <li>
        <a href="#properties-home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Get reviews</a>
      </li>
      <li>
        <a href="#properties-home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Retrieve for query</a>
      </li>
    </ul>
  </div>
</li>