<!DOCTYPE html>
<li class="mb-1">
  <button class="btn btn-dark btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#authetication-collapse" aria-expanded="true">
    Authentication
  </button>
  <div class="collapse" id="authetication-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a href="#auth-check-exist" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Check if user exists</a>
      </li>
      <li>
        <a href="#login" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Log in</a>
      </li>
      <li>
        <a href="#signup" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign up</a>
      </li>
    </ul>
  </div>
</li>