<!DOCTYPE html>
<li class="mb-1">
  <button class="btn btn-dark btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#types-collapse" aria-expanded="true">
    Types
  </button>
  <div class="collapse" id="types-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a href="#types-property" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch property types</a>
      </li>
      <li>
        <a href="#types-rental" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch rental types</a>
      </li>
      <li>
        <a href="#types-feature" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch feature types</a>
      </li>
      <li>
        <a href="#types-experience" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fetch experience types</a>
      </li>
    </ul>
  </div>
</li>