<!DOCTYPE html>
<li class="mb-1">
  <button class="btn btn-dark btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#misc-collapse" aria-expanded="true">
    Miscellaneous
  </button>
  <div class="collapse" id="misc-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a href="#auth-check-exist" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Check if user exists</a>
      </li>
    </ul>
  </div>
</li>