.get {
	color: #536DFC;
}

.post {
	color: #33A80F;
}

.delete {
	color: #E64C00;
}

.patch {
	color: #F0D005;
}

li li {
	padding-bottom: 0.5rem;
	padding-left: 1.5rem;
}

button {
	font-weight: bolder;
}